@page "/About"

@inject IHttpService Http

<div class="container-fluid">
    <h1>About WelcomeTo</h1>

    <div class="row">
        <div class="col-10">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="mb-0">Basic Information</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>WelcomeTo was created during the COVID-19 outbreak to allow people to play games together online whilst social distancing.</li>
                        <li>There is no requirement to communicate with other players in the game, but feel free to bring along your own voice chats!</li>
                        <li>Since its public release we have hosted @(_gameCountString ?? "fetching statistics...").</li>
                    </ul>
                    <p class="mb-0">
                        Stay safe, and enjoy!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <img src="/images/house.png" style="height: 20vh;" />
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <h4 class="mb-0">Player Guide</h4>
        </div>
        <div class="card-body">
            <p>Click the tabs below to show documentation on the relevant subject.</p>
            <div class="card border rounded">
                <TabControl>
                    <TabHeader>
                        <TabHeaderTemplate ButtonGroupClass="card-header w-100"/>
                    </TabHeader>
                    <TabItems>
                        <TabItem Title="New Games">
                            <div class="card-body">
                                <ul class="mb-0">
                                    <li>A <strong>host</strong> can create a game by navigating to the <NavLink href="NewGame" Match="NavLinkMatch.All">New Game page</NavLink> and setting up a game.</li>
                                    <li>Games can also be made either public, or private by the host. Public games will be visible on the <NavLink href="Games" Match="NavLinkMatch.All">Games page</NavLink>, whereas private games will not.</li>
                                    <li>Once a game is created, the host should distribute the Waiting Room URL to the relevant parties. If the game is public, it will also be available on the <NavLink href="Games" Match="NavLinkMatch.All">Games page</NavLink>.</li>
                                    <li><strong>N.B.</strong> Once a game has started new players won't be able to join, so make sure everyone is there before you start.</li>
                                    <li>If a user joins a game accidentally, the host can "Kick" them, ejecting the player from the waiting room.</li>
                                </ul>
                            </div>
                        </TabItem>
                        <TabItem Title="Gameplay">
                            <div class="card-body">
                                <ul class="mb-0">
                                    <li>Gameplay follows the rules of the WelcomeTo boardgame, so please ensure some familiarity!</li>
                                    <li>Actions follow a (hopefully) intuitive process using a series of clicks, starting with a click on the card/effect pair of choice.</li>
                                </ul>
                            </div>
                        </TabItem>
                    </TabItems>
                </TabControl>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h3>Acknowledgements:</h3>
        <p>WelcomeTo gameplay was inspired by the popular <a href="https://boardgamegeek.com/boardgame/233867/welcome" target="_blank">Welcome To boardgame</a>.</p>
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="mb-0">Software</h4>
            </div>
            <div class="card-body">
                <p>
                    WelcomeTo was created using Microsoft's <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> WebAssembly, and <a href="https://dotnet.microsoft.com/apps/aspnet/signalr" target="_blank">SignalR</a>.
                    The site was authored by <a href="https://github.com/JustinWilkinson/" target="_blank">Justin Wilkinson</a>, and makes use of the below open source software libraries, listed by category and alphabetically.
                </p>
                <div class="row">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-0">Client</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Cloudcrate's <a href="https://github.com/cloudcrate/BlazorStorage/blob/master/LICENSE.txt" target="_blank">BlazorStorage</a> v3.0.0</li>
                                    <li>JamesNK's <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md" target="_blank">NewtonSoft.Json</a> v12.0.3</li>
                                    <li><a href="https://jquery.org/license/" target="_blank">jQuery</a> JavaScript Library v3.5.0</li>
                                    <li>Justin Wilkinson's <a href="https://github.com/JustinWilkinson/RazorTabs/blob/master/LICENSE" target="_blank">RazorTabs</a> v1.0.3</li>
                                    <li><a href="https://www.useiconic.com/open" target="_blank">Open Iconic</a></li>
                                    <li>SpryMedia Ltd's <a href="https://datatables.net/license/mit" target="_blank">DataTables</a> v1.10.20</li>
                                    <li>Twitter's <a href="https://github.com/twbs/bootstrap/blob/v4.0.0/LICENSE" target="_blank">Bootstrap</a> v4.3.1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-0">Server</h5>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>JamesNK's <a href="https://github.com/JamesNK/Newtonsoft.Json/blob/master/LICENSE.md" target="_blank">NewtonSoft.Json</a> v12.0.3</li>
                                    <li><a href="https://github.com/NLog/NLog/blob/master/LICENSE.txt" target="_blank">NLog</a> v4.7.2</li>
                                    <li><a href="https://www.quartz-scheduler.net/license.html" target="_blank">Quartz.NET</a> v3.0.7</li>
                                    <li>SQLite's <a href="https://www.sqlite.org/copyright.html" target="_blank">System.Data.SQLite</a> v1.0.113.1</li>
                                    <li>stefanprodan's <a href="https://github.com/stefanprodan/AspNetCoreRateLimit/blob/master/LICENSE.md" target="_blank">AspNetCoreRateLimit</a> v3.0.5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h4 class="mb-0">Images</h4>
            </div>
            <div class="card-body">
                <ul>
                    <li>Barrier: Image by <a href="https://pixabay.com/users/succo-96729/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2309816" _target="blank">succo</a> from <a href="https://pixabay.com/vectors/barrier-lock-locked-security-2309816/" _target="blank">Pixabay</a>.</li>
                    <li>City Skyline: Image by <a href="https://pixabay.com/users/GDJ-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1751179" _target="blank">Gordon Johnson</a> from <a href="https://pixabay.com/vectors/skyline-city-cityscape-landscape-1751179/" _target="blank">Pixabay</a>.</li>
                    <li>Coins: Image by <a href="https://pixabay.com/users/OshDesign-4856490/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3679575" _target="blank">OshDesign</a> from <a href="https://pixabay.com/vectors/coin-up-money-finance-currency-3679575/" _target="blank">Pixabay</a>.</li>
                    <li>Fence: Image by <a href="https://pixabay.com/users/Pixaline-1569622/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1134180" _target="blank">Pixaline</a> from <a href="https://pixabay.com/illustrations/garden-fence-garden-fence-nature-1134180/" _target="blank">Pixabay</a>.</li>
                    <li>Garden: Image by <a href="https://pixabay.com/users/PixLoger-783453/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1601023" _target="blank">PixLoger</a> from <a href="https://pixabay.com/vectors/tree-leaf-green-bush-forest-1601023/" _target="blank">Pixabay</a>.</li>
                    <li>House: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=47839" _target="blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/house-building-exterior-white-roof-47839/" _target="blank">Pixabay</a>.</li>
                    <li>Mailbox: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=31624" _target="blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/mailbox-postal-box-mail-letter-31624/" _target="blank">Pixabay</a>.</li>
                    <li>Pool: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=47839" _target="blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/water-pool-swimming-swim-dive-295186/" _target="blank">Pixabay</a>.</li>
                    <li>Refused: Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=42774" _target="blank">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/vectors/negative-x-unrelated-sign-choice-42774/" _target="blank">Pixabay</a>.</li>
                    <li>Tree: Image by <a href="https://pixabay.com/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=576847" _target="blank">OpenClipart-Vectors</a> from <a href="https://pixabay.com/vectors/tree-forest-trunk-nature-leaves-576847/" _target="blank">Pixabay</a>.</li>
                    <li>Trophy: Image by <a href="https://pixabay.com/users/LoveYouAll-3307648/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1674911">LoveYouAll</a> from <a href="https://pixabay.com/illustrations/trophy-icon-winner-win-cup-award-1674911/">Pixabay</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


@code {
    private string _gameCountString;

    protected override async Task OnInitializedAsync()
    {
        var gameCount = await Http.GetAsync<int>("api/Game/Count");
        _gameCountString = $"{gameCount.ToString("N0")} game{(gameCount == 1 ? "" : "s")}.";
    }
}