@page "/PlayGame/{GameId}"

@inject IHttpService Http
@inject GameStorage Storage
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject BlazorTimer Timer
@inject GameHubCommunicator GameHub

@if (Game == null)
{
    @if (_urlWrong)
    {
        <p>Sorry, it doesn't look like this is a valid game - please make sure your URL is correct and retry.</p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <div class="row mb-4" style="height: 25vh;">
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Deck 1
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Discard 1
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Deck 2
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Discard 2
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Deck 3
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card border-rounded h-100">
                <div class="card-body text-center text-muted">
                    Discard 3
                </div>
            </div>
        </div>
    </div>
    <TabControl>
        @foreach (var player in Game.Players)
        {
            <TabPage Title="@player.Name">
                <PlayerSheet Player="player" />
            </TabPage>
        }
    </TabControl>
}

@code {
    public Player IdentifiedPlayer { get; set; }
    public Game Game { get; private set; }

    private bool _urlWrong = false;


    [Parameter]
    public string GameId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Game = await Http.GetAsync<Game>($"api/Game/Get?id={GameId}");

        if (Game == null)
        {
            _urlWrong = true;
        }
        else
        {
            await ConfigureHubAsync();
        }
    }

    private async Task ConfigureHubAsync()
    {
        GameHub.RegisterHandler("UpdateGame", async () =>
        {
            Game = await Http.GetAsync<Game>($"api/Game/Get?id={GameId}");
            StateHasChanged();
        });

        await GameHub.StartAsync();
        await GameHub.AddToGroupAsync(GameId);
    }
}