@if (Street.Parks != null && Street.Parks.Count > 0)
{
    <div class="row">
        @foreach (var park in Street.Parks)
        {
            if (park.IsCovered)
            {
                <div class="col-2 text-muted text-center mr-auto">
                    <div class="rounded-circle bg-warning"><span class="oi oi-circle-x"></span></div>
                </div>
            }
            else
            {
                <div class="col-2 text-muted text-center mr-auto">
                    <div class="rounded-circle bg-warning">@park.Points</div>
                </div>
            }
        }
    </div>
}

@code {
    [Parameter]
    public Street Street { get; set; }
}