@if (Board is not null)
{
    <div class="container-fluid">
        <div class="row parks">
            <div class="col-5 col-md-3 ml-auto p-2">
                <ReadOnlyParks Street="Board.TopStreet" />
            </div>
        </div>
        <div id="TopStreet" class="row street">
            <div class="col-2 text-center p-1 p-md-3">
                <h4 class="font-weight-bold text-warning">Welcome To</h4>
                <input id="CityName" type="text" class="form-control @(Board.TownName is not null ? "text-center" : "")" placeholder="No name provided" @bind="Board.TownName" disabled />
            </div>
            @foreach (var house in Board.TopStreet.Houses)
            {
                <ReadOnlyHouseLocation Street="Board.TopStreet" House="house" />
            }
        </div>
        <div class="row mt-2 bg-dark horizontal-road"></div>
        <div class="row parks">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
            <div class="col-5 col-md-3 ml-auto p-2">
                <ReadOnlyParks Street="Board.MiddleStreet" />
            </div>
        </div>
        <div id="MiddleStreet" class="row street">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
            @foreach (var house in Board.MiddleStreet.Houses)
            {
                <ReadOnlyHouseLocation Street="Board.MiddleStreet" House="house" />
            }
        </div>
        <div class="row" style="height: 0.5rem;">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
        </div>
        <div class="row bg-dark horizontal-road"></div>
        <div class="row parks">
            <div class="col-5 col-md-3 ml-auto p-2">
                <ReadOnlyParks Street="Board.BottomStreet" />
            </div>
        </div>
        <div id="BottomStreet" class="row street">
            @foreach (var house in Board.BottomStreet.Houses)
            {
                <ReadOnlyHouseLocation Street="Board.BottomStreet" House="house" />
            }
        </div>
        <div class="row mt-2 bg-dark horizontal-road"></div>
    </div>
}

@code{
    [Parameter]
    public Board Board { get; set; }
}