<CascadingValue Value="this">
    <div class="container-fluid grass-background p-2">
        <TabControl>
            <TabItems>
                <TabItem Title="Board">
                    <ReadOnlyPlayerBoard Board="Player.Board" />
                </TabItem>
                <TabItem Title="Score Sheet">
                    <ReadOnlyScoreSheet ScoreSheet="Player.ScoreSheet" />
                </TabItem>
            </TabItems>
        </TabControl>
    </div>
</CascadingValue>


@code{
    [CascadingParameter]
    public Game Game { get; set; }

    [Parameter]
    public Player Player { get; set; }
}