<div class="col">
    <div class="card border-rounded h-100">
        <div class="card-body text-center @BodyClass">
            @ChildContent
        </div>
    </div>
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string BodyClass { get; set; }
}