<div class="col-1 @GetHouseClass()">
    <div class="card h-100 bg-transparent border-0">
        <div class="card-header pt-1 pb-0 pl-2 pr-2 text-center bg-transparent border-0">
            <div class="garden">
                @if (House.Pool == PoolType.Built)
                {
                    <div class="bg-primary rounded w-75 h-100 float-right"></div>
                }
                else if (House.Pool == PoolType.Unbuilt)
                {
                    <div class="bg-secondary rounded w-75 h-100 float-right"></div>
                }
            </div>
        </div>
        <div class="card-body w-100 p-2">
            <div class="d-flex h-100 justify-content-center bg-light">
                <div class="align-self-center text-center w-100">
                    @if (!IsSelectedHouse && House.Number.HasValue)
                    {
                        <h3 class="pt-1 mb-0 font-weight-bold bubblegum-font">@House.Number</h3>
                    }
                    else
                    {
                        var possibilities = GetPossibilitiesForBuilding();
                        if ((!Parent.SelectedHouseIndex.HasValue || IsSelectedHouse) && possibilities.Any())
                        {
                            <select class="form-control py-0 rounded-0 centered-select" @onchange="OnHouseSelected">
                                <option value="-1" selected>Select</option>
                                @foreach (var possibility in possibilities)
                                {
                                    <option value="@possibility">@possibility</option>
                                }
                            </select>
                        }
                        else
                        {
                            <input type="number" min="0" max="15" class="form-control text-center" disabled />
                        }
                    }

                </div>
            </div>
        </div>
        <div class="card-footer p-0 text-center bg-transparent border-0">
            <img src="/images/house.png" class="house-image" draggable="false" />
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public PlayerBoard Parent { get; set; }

    [CascadingParameter]
    public Turn CurrentTurn { get; set; }

    [Parameter]
    public Street Street { get; set; }

    [Parameter]
    public House House { get; set; }

    private string GetHouseClass()
    {
        var houseClass = "house";

        if (House.Index == 0)
        {
            houseClass += " house-first";
        }
        if (House.FenceBuilt)
        {
            houseClass += " house-fenced";
        }

        return houseClass;
    }

    private IEnumerable<int> GetPossibilitiesForBuilding()
    {
        var possibilities = CurrentTurn.GetHouseNumbers();
        var builtHouses = Street.Houses.Where(x => x.Number.HasValue && x.Index != House.Index);

        if (!builtHouses.Any())
        {
            return possibilities;
        }
        else
        {
            var nearestHouseLeft = builtHouses.Where(x => x.Index < House.Index).OrderBy(x => x.Index).FirstOrDefault();
            var nearestHouseRight = builtHouses.Where(x => x.Index > House.Index).OrderBy(x => x.Index).FirstOrDefault();

            return possibilities.Where(n => (nearestHouseLeft == null || n > nearestHouseLeft.Number.Value) && (nearestHouseRight == null || n < nearestHouseRight.Number.Value));
        }
    }

    private void OnHouseSelected(ChangeEventArgs e)
    {
        var value = Convert.ToInt32(e.Value);
        House.Number = value >= 0 ? value : new int?();
        Parent.SelectedHouseChanged(Street.Position, House.Number.HasValue ? House.Index : new int?());
    }

    private bool IsSelectedHouse => Parent.SelectedHouseStreet == Street.Position && Parent.SelectedHouseIndex == House.Index;
}