<div class="card h-100 bg-transparent border-0">
    <div class="card-header pt-1 pb-0 pl-2 pr-2 text-center bg-transparent border-0">
        <div class="garden">
            @if (HasPool)
            {
                <div class="bg-@(PoolBuilt ? "primary" : "secondary") rounded w-75 h-100 float-right"></div>
            }
        </div>
    </div>
    <div class="card-body w-100 p-2">
        <div class="d-flex h-100 justify-content-center bg-light">
            <div class="align-self-center justify-content-center">
                <h3 class="p-0 mb-0 font-weight-bold bubblegum-font">Number</h3>
            </div>
        </div>
    </div>
    <div class="card-footer p-0 text-center bg-transparent border-0">
        <img src="/images/house.png" class="house-image" />
    </div>
</div>


@code {
    [Parameter]
    public bool HasPool { get; set; }

    [Parameter]
    public bool PoolBuilt { get; set; }
}
