@if (Board != null)
{
    <div class="container-fluid">
        <div class="row parks">
            <div class="col-5 col-md-3 ml-auto p-2">
                <Parks Points="Board.TopStreet.ParkPoints" />
            </div>
        </div>
        <div id="TopStreet" class="row street">
            <div class="col-2 text-center">
                <h4 class="font-weight-bold text-warning">Welcome To</h4>
                <input id="CityName" type="text" class="form-control" placeholder="Enter a name here..." />
            </div>
            @foreach (var house in Board.TopStreet.Houses)
            {
                <HouseLocation Street="Board.TopStreet" House="house" />
            }
        </div>
        <div class="row mt-2 bg-dark horizontal-road"></div>
        <div class="row parks">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
            <div class="col-5 col-md-3 ml-auto p-2">
                <Parks Points="Board.MiddleStreet.ParkPoints" />
            </div>
        </div>
        <div id="MiddleStreet" class="row street">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
            @foreach (var house in Board.MiddleStreet.Houses)
            {
                <HouseLocation Street="Board.MiddleStreet" House="house" />
            }
        </div>
        <div class="row" style="height: 0.5rem;">
            <div class="col-1">
                <div class="h-100 bg-dark vertical-road mx-auto"></div>
            </div>
        </div>
        <div class="row bg-dark horizontal-road"></div>
        <div class="row parks">
            <div class="col-5 col-md-3 ml-auto p-2">
                <Parks Points="Board.BottomStreet.ParkPoints" />
            </div>
        </div>
        <div id="BottomStreet" class="row street">
            @foreach (var house in Board.BottomStreet.Houses)
            {
                <HouseLocation Street="Board.BottomStreet" House="house" />
            }
        </div>
        <div class="row mt-2 bg-dark horizontal-road"></div>
    </div>
}

@code{
    [CascadingParameter]
    public Turn CurrentTurn { get; set; }

    [Parameter]
    public Board Board { get; set; }
}