<div class="container-fluid">
    <div class="row bg-light mb-2">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th class="text-center align-middle">1 House</th>
                    <th class="text-center align-middle">2 Houses</th>
                    <th class="text-center align-middle">3 Houses</th>
                    <th class="text-center align-middle">4 Houses</th>
                    <th class="text-center align-middle">5 Houses</th>
                    <th class="text-center align-middle">6 Houses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center align-middle">1</td>
                    <td class="text-center align-middle">2</td>
                    <td class="text-center align-middle">3</td>
                    <td class="text-center align-middle">4</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">6</td>
                </tr>
                <tr>
                    <td class="text-center align-middle">2</td>
                    <td class="text-center align-middle">3</td>
                    <td class="text-center align-middle">4</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">6</td>
                    <td class="text-center align-middle">7</td>
                </tr>
                <tr>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle">4</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">6</td>
                    <td class="text-center align-middle">7</td>
                    <td class="text-center align-middle">8</td>
                </tr>
                <tr>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle">6</td>
                    <td class="text-center align-middle">7</td>
                    <td class="text-center align-middle">8</td>
                    <td class="text-center align-middle">10</td>
                </tr>
                <tr>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle">9</td>
                    <td class="text-center align-middle">10</td>
                    <td class="text-center align-middle">12</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center align-middle">x...</td>
                    <td class="text-center align-middle">x...</td>
                    <td class="text-center align-middle">x...</td>
                    <td class="text-center align-middle">x...</td>
                    <td class="text-center align-middle">x...</td>
                    <td class="text-center align-middle">x...</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row bg-light">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th class="text-center align-middle" colspan="3">Plans</th>
                    <th class="text-center align-middle" colspan="3">Parks</th>
                    <th class="text-center align-middle" rowspan="2">Pools</th>
                    <th class="text-center align-middle" rowspan="2">Temp Agency</th>
                    <th class="text-center align-middle" rowspan="2">Estate Value</th>
                    <th class="text-center text-white align-middle bg-danger" rowspan="2">Bis</th>
                    <th class="text-center text-white align-middle bg-danger" rowspan="2">Refusals</th>
                </tr>
                <tr>
                    <th class="text-center align-middle">No. 1</th>
                    <th class="text-center align-middle">No. 2</th>
                    <th class="text-center align-middle">No. 3</th>
                    <th class="text-center align-middle">Top</th>
                    <th class="text-center align-middle">Middle</th>
                    <th class="text-center align-middle">Bottom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center align-middle">xx</td>
                    <td class="text-center text-white align-middle bg-danger">xx</td>
                    <td class="text-center text-white align-middle bg-danger">xx</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="table-secondary">
                    <td class="font-weight-bold text-center align-middle">Total: </td>
                    <td colspan="10" class="font-weight-bold text-left align-middle">xxx</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>