<div class="container-fluid grass-background p-2">
    <TabControl>
        <TabPage Title="Board">
            <PlayerBoard Board="Player.Board"/>
        </TabPage>
        <TabPage Title="Score Sheet">
            <PlayerScoreSheet ScoreSheet="Player.ScoreSheet" />
        </TabPage>
    </TabControl>
</div>

@code{
    [CascadingParameter]
    public Turn CurrentTurn { get; set; }

    [Parameter]
    public Player Player { get; set; }
}