<div class="container-fluid">
    <div class="row parks">
        <div class="col-5 col-md-3 ml-auto p-2">
            <Parks Points="new List<int> { 0, 2, 4, 10 }" />
        </div>
    </div>
    <div id="TopStreet" class="row street">
        <div class="col-2 text-center">
            <h4 class="font-weight-bold text-warning">Welcome To</h4>
            <input id="CityName" type="text" class="form-control" placeholder="Enter a name here..." />
        </div>
        <div class="col-1 house first-house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
    </div>
    <div class="row mt-2 bg-dark horizontal-road"></div>
    <div class="row parks">
        <div class="col-1">
            <div class="h-100 bg-dark vertical-road ml-auto mr-auto"></div>
        </div>
        <div class="col-5 col-md-3 ml-auto p-2">
            <Parks Points="new List<int> { 0, 2, 4, 6, 14 }" />
        </div>
    </div>
    <div id="MiddleStreet" class="row street">
        <div class="col-1">
            <div class="h-100 bg-dark vertical-road ml-auto mr-auto"></div>
        </div>
        <div class="col-1 house first-house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
    </div>
    <div class="row" style="height: 0.5rem;">
        <div class="col-1">
            <div class="h-100 bg-dark vertical-road ml-auto mr-auto"></div>
        </div>
    </div>
    <div class="row bg-dark horizontal-road"></div>
    <div class="row parks">
        <div class="col-5 col-md-3 ml-auto p-2">
            <Parks Points="new List<int> { 0, 2, 4, 6, 8, 18 }" />
        </div>
    </div>
    <div id="BottomStreet" class="row street">
        <div class="col-1 house first-house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
        <div class="col-1 house">
            <House HasPool="true" />
        </div>
        <div class="col-1 house">
            <House HasPool="false" />
        </div>
    </div>
    <div class="row mt-2 bg-dark horizontal-road"></div>
</div>