<CascadingValue Value="this">
    <div class="container-fluid grass-background p-2">
        <TabControl>
            <TabContent>
                <TabPage Title="Board">
                    <PlayerBoard Board="Player.Board" />
                </TabPage>
                <TabPage Title="Score Sheet">
                    <PlayerScoreSheet ScoreSheet="Player.ScoreSheet" />
                </TabPage>
            </TabContent>
        </TabControl>
    </div>
</CascadingValue>

@code{
    [Parameter]
    public Player Player { get; set; }
}